<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Encabezado y metadatos aquí -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <header>
        <nav class="bg-white shadow-md">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between items-center py-4">
                    <a href="/" class="logo me-auto"><img src="/img/logo4.png" alt="" class="w-44 h-auto"></a>
                    <div class="flex space-x-4">
                        <a class="text-gray-600 hover:text-blue-500" href="/inventario-productos">Inventario productos</a>
                        <a class="text-gray-600 hover:text-blue-500" href="/clientes">Cliente</a>
                        <a class="text-gray-600 hover:text-blue-500" href="/ventas">Ventas</a>
                        <a class="text-gray-600 hover:text-blue-500" href="/perfil">Mi perfil</a>
                        <a class="text-gray-600 hover:text-blue-500" href="/cerrar-sesion">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Contenido de la página -->
    <div class="container mx-auto p-8">
        <h1 class="text-3xl font-bold mb-4">Lista de Clientes</h1>
        
        <ul class="bg-white p-4 rounded shadow-md">
            <% clientes.forEach(cliente => { %>
                <li class="flex items-center justify-between mb-2">
                    <div>
                        <span class="text-lg font-semibold"><%= cliente.Nombre %></span>
                        <span class="text-gray-600"><%= cliente.CorreoElectronico %></span>
                    </div>
                    <div>
                        <a href="/editar-cliente/<%= cliente.IDCliente %>" class="text-blue-500 hover:underline">
                            <button class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded">
                                Editar
                            </button>
                        </a>
                        <a href="/eliminar-cliente/<%= cliente.IDCliente %>" class="text-red-500 hover:underline">
                            <button class="bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded">
                                Eliminar
                            </button>
                        </a>
                    </div>
                </li>
            <% }); %>
        </ul>
        
        <a href="/agregar-cliente" class="mt-4 inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
            Agregar Nuevo Cliente
        </a>
    </div>
</body>
</html>
